/*
    PluginDraft CSS styles
*/

.taskgen {
}

.taskgen input[type='number'] {
    display: inline-block;
    width: 45px;
}

.taskgen pre {
    font-size: 13pt;
}

/* Result */
.taskgen table {
    margin-top: 15px;
}
.taskgen table tr td{
    padding-right: 20px;
}

/* NOTICE message */
.taskgen-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.taskgen-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.taskgen-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.taskgen-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.taskgen-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.taskgen-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.taskgen-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.taskgen-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.taskgen-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}
